  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #input (keyup)="buscarMedicos(input.value)" type="text" class="form-control" placeholder="Buscar ..."/>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-12">
          <div class="alert alert-info text-center">
            <strong>Cargando</strong>
            <br>
            <li class="fa fa-refresh fa-spin fa-2x"></li>
            <br>
            <span>Espere por favor</span>
          </div>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            Tabla de medicos
            <button [routerLink]="['/medico','nuevo']" type="button" class="btn btn-sm btn-outline-success animated flipInX">
                <li class="fa fa-plus"></li>
            </button>
          </h4>
          <h6 *ngIf="paginacion" class="card-subtitle">Total de medicos ( {{ totalRegistros }} ) </h6>
          <h6 *ngIf="!paginacion" class="card-subtitle">Total de medicos ( {{ 'mostrando ' + totalFiltrados + ' de ' + totalRegistros }} ) </h6>
          <div class="table-responsive">
            <table class="table color-bordered-table inverse-bordered-table hover-table">
              <thead>
                <tr>
                  <th>Foto</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of medicos">
                  <td>
                    <img [src]="row.img | imagen:'medico'" (click)="mostrarModalImagen(row._id)" class="img-circle pointer" style="max-width: 40px;max-height: 40px">
                  </td>
                  <td>{{ row.nombre }}</td>
                  <td class="text-center">
                    <button [routerLink]="['/medico',row._id]" type="button" class="btn btn-sm btn-outline-success animated flipInX">
                      <li class="fa fa-save"></li>
                    </button>
                    <button (click)="eliminarMedico(row)" type="button" class="btn btn-sm btn-outline-danger animated flipInX">
                      <li class="fa fa-trash-o"></li>
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="paginacion">
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button (click)="cambiarDesde(-5)" type="button" class="btn btn-inverse"><i class="fa fa-fast-backward"></i> Anterior</button>
                  <button (click)="cambiarDesde(+5)" type="button" class="btn btn-inverse">Siguiente <i class="fa fa-fast-forward"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  